@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
	--primaryBg: #563d7b;
	--lightBg: #e5e5e5;
	--primaryTextColor: #23a6f0;
	--lightTextColor: #fff;
	--secondTextColor: #252b42;
	--dangerColor: #6850fb;
	--thirdTextColor: #737373;
	--priceColor: #40bb15;
	--widthContainer: 1440px;
	--heighContainer: 1212px;
	--family: "Montserrat";
	--extraBig: 3rem;
	--big: 2.3rem;
	--medium: 2rem;
	--small: 1rem;
	--spacePrimary: 0.1px;
	--spaceSecond: 0.2px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: var(--family);
}

body {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	overflow-x: hidden;
	width: 100vw;
	height: 100%;
	background: var(--lightBg);
}
.header {
	display: flex;
	flex-flow: column wrap;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: var(--lightTextColor);
}
.header__background {
	display: block;
	position: absolute;
	top: 0;
	z-index: -1;
}

.header__main {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	padding: 0 0.5em;
}
.header__title {
	font-size: var(--big);
	letter-spacing: var(--spacePrimary);
	flex: 1 1 auto;
	margin-left: 0.5em;
}
.header__nav {
	display: flex;
	flex-flow: row wrap;
	width: 39.7%;
}
.header__menu {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	list-style: none;
	height: calc(58px * 100% / var(--heighContainer));
}
.menu__item {
	flex: 1 1 auto;
}
.menu__link {
	flex: 1 1 auto;
	padding: auto;
	width: 100%;
	text-align: center;
	font-size: calc(1px + var(--small));
	font-weight: bold;
	letter-spacing: var(--spaceSecond);
	text-decoration: none;
	color: var(--lightTextColor);
}
.header__container {
	width: 100%;
	padding: 2.875em 0 2em;
}
.header__content {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	padding: 2.875em 10.78em 0;
	width: 100%;
	height: 100%;
}
.header__subtitle {
	color: var(--primaryTextColor);
	font-size: var(--small);
	letter-spacing: var(--spacePrimary);
	text-align: center;
	flex: 1 1 auto;
}
.header__text {
	flex: 1 1 auto;
	text-align: center;
}
.header__text--big {
	line-height: 4rem;
	width: 50%;
	font-size: var(--extraBig);
	margin: 0.6em 0;
}
.header__text--small {
	letter-spacing: var(--spaceSecond);
	color: var(--lightBg);
	margin: 1.5em 0;
	width: 30%;
	font-weight: 400;
	text-align: center;
}
.header__buttoms {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 1.5em 0;
	gap: 1em;
}
.header__buttom {
	font-size: var(--small);
	text-decoration: none;
	width: 16vw;
	height: 5vh;
	text-align: center;
	padding: 1em;
	border-radius: 0.3em;
	font-weight: 600;
}
.header__buttom--blue {
	background: var(--primaryTextColor);
	color: var(--lightTextColor);
	transition: 0.3s ease-in-out;
}
.header__buttom--blue:hover {
	border: 1px solid var(--primaryTextColor);
	background: transparent;
	color: var(--primaryTextColor);
}
.header__buttom--light {
	border: 1px solid var(--primaryTextColor);
	color: var(--primaryTextColor);
	transition: 0.3s ease-in-out;
}
.header__buttom--light:hover {
	background: var(--primaryTextColor);
	color: var(--lightTextColor);
}
.main {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 1em 0 0 0;
	overflow: hidden;
}
.main__cards {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.card {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	text-align: center;
	width: 33.3%;
	height: 100%;
	padding: 0.5em 0.3em;
	font-size: calc(var(--small) - 2px);
	letter-spacing: var(--spaceSecond);
}
.card__content {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 60%;
	min-height: 290px;
	border-radius: 0.5em;
	background: var(--lightBg);
	box-shadow: 0 12px 12px 5px rgba(0, 0, 0, 0.2);
	padding: 1em;
	gap: 1.25em;
}
/* .card__image {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: auto;
	width: 45%;
	height: auto;
	position: relative;
} */
.card__bg {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 25%;
	height: 6vh;
	padding: 1.2em 1.3em;
	border-radius: 5px;
	background: var(--dangerColor);
}
.card__icon {
	width: 100%;
	height: 3vh;
	flex: 1 1 auto;
}

.card__title {
	font-size: calc(var(--small) + 3px);
	font-weight: 700;
	line-height: calc(var(--medium) - 2px);
	letter-spacing: var(--spacePrimary);
	color: var(--secondTextColor);
	width: 100%;
	text-transform: capitalize;
}
.card__separator {
	width: 8em;
	/* 	border: solid 1px var(--dangerColor); */
	background: var(--dangerColor);
	border-radius: 5px;
	height: 0.5vh;
}
.card__text {
	flex: 1 1 auto;
	font-size: calc(var(--small) + 1px);
	line-height: 1.5em;
	letter-spacing: var(--spaceSecond);
	color: var(--thirdTextColor);
}
.main__content {
	width: 100%;
	padding: 0.5em 0.3em;
	margin: 3em 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	color: var(--secondTextColor);
}
.container {
	width: 70%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: justify;
}
.container__title {
	flex: 1 1 auto;
	margin: 2em 0 1em 0;
	font-size: calc(var(--big) + 3px);
	font-weight: 900;
	line-height: calc(var(--big) + 3px);
	letter-spacing: var(--spacePrimary);
}
.container__text {
	flex: 1 1 auto;
	font-size: calc(var(--medium) - 3px);
	line-height: 1.5em;
	letter-spacing: calc(var(--spaceSecond) + 0.3px);
}
.footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	min-height: 5em;
	background: var(--secondTextColor);
}
.footer__container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 20%;
}
.footer__image {
	flex: 1 1 auto;
	width: 3em;
	height: 3em;
	filter: invert(1) sepia(1) saturate(10%) contrast(100%) opacity(1);
	transition: filter 0.3s;
}
.footer__link {
	font-size: var(--small);
	line-height: 1.5em;
	letter-spacing: var(--spaceSecond);
	color: var(--primaryTextColor);
	transition: 0.3s ease;
}
.footer__link:hover {
	color: var(--lightBg);
}

html {
	scroll-behavior: smooth;
	font-size: 13px;
}
@media (max-width: 780px) {
	body {
		width: 100%;
		height: 100%;
	}
	.card__bg {
		width: 60%;
	}
	.card__icon {
		width: 100%;
		height: 100%;
	}

	html {
		font-size: 12px;
	}
}
@media (max-width: 520px) {
	.header__main {
		width: 100%;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		gap: 1em;
	}
	.header__title {
		width: 50%;
	}
	.header__nav {
		width: 80%;
		justify-content: center;
		align-items: center;
	}
	.header__menu {
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
		gap: 0.9em;
	}

	.header__text.header__text--big {
		font-size: calc(var(--small) + 2px);
		line-height: 3rem;
	}
	.header__buttom {
		width: 100vw;
		height: 7vh;
	}

	.main__cards {
		display: flex;
		flex-flow: column wrap;
	}
	.card {
		width: 75%;
		height: 50%;
		padding: 0.5em;
		gap: 5px;
	}
	.footer {
		font-size: calc(var(--small) -2px);
	}
}
