@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
	--primaryBg: #312e81;
	--lightBg: #e5e7eb;
	--poorPrimary: #a5b4fc;
	--primaryTextColor: #1d4ed8;
	--lightTextColor: #fff;
	--family: "Montserrat", "serif";
	--extraBig: 2.5rem;
	--big: 2rem;
	--medium: 1.2rem;
	--small: 1rem;
	--spacePrimary: 0.1px;
	--spaceSecond: 0.2px;
	--border-radius: 0.5em;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: var(--family);
}
body {
	position: relative;
	background: var(--lightBg);
	overflow-x: hidden;
	min-height: 100vh;
}
.arrow-up {
	margin: 0.5em 1em;
	border-radius: 50%;
	width: 2.2em;
	height: auto;
	position: fixed;
	bottom: 0;
	right: 0;
	background: var(--dangerColor);
	opacity: 0;
	visibility: hidden;
	transition: 0.5s linear all;
}

.arrow-up.show {
	opacity: 1;
	visibility: visible;
}
.arrow-up.show:hover {
	background: #e47b84c7;
}
.header {
	display: flex;
	width: 100%;
	background: var(--primaryBg);
	color: var(--lightTextColor);
	justify-content: space-evenly;
	align-items: center;
	flex-flow: row wrap;
	position: relative;
	padding: 1.8rem;
	gap: 0.5em;
}
.header__title {
	font-size: var(--big);
	flex: 1 1 auto;
}
.header__nav {
	width: 30em;
}
.header__menu {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 1em;
}
.menu__item {
	text-align: center;
	font-weight: 500;
	flex: 1 1 auto;
	font-size: var(--medium);
}
.menu__link {
	position: relative;
	text-decoration: none;
	color: var(--poorPrimary);
}
.menu__link::after {
	content: "";
	background: var(--highlight-color);
	display: inline-block;
	height: 2px;
	margin: auto;
	position: absolute;
	bottom: -0px;
	left: 0;
	right: 0;
	transition: all 300ms;
	width: 0%;
}
.menu__link:hover::after {
	width: 100%;
}
.background {
	position: absolute;
	top: 0;
	left: 0;

	z-index: -1;
	background: no-repeat center / cover url("../../src/images/education.avif");
	& .layer {
		width: 100vw;
		min-height: 70vh;
		background-color: #00000075;
		z-index: 1;
	}
}
.main {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 5em;
}
.main__container {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--lightTextColor);
	margin: 2em 0;
	gap: 2em;
}

.main__subtitle {
	font-size: var(--small);
	color: var(--highlight-color);
	text-shadow: -2px 3px var(--secondTextColor);
}
.main__text.main__text--big {
	font-size: var(--extraBig);
}

.main__text.main__text--small {
	font-size: var(--small);
}

.main__buttoms {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
}
.main__buttom {
	background: var(--highlight-color);
	outline: none;
	border: 1px solid var(--highlight-color);
	padding: 0.5em;
	width: 50%;
	border-radius: var(--border-radius);
	text-decoration: none;
	color: var(--secondTextColor);
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.4s ease-in-out all;
}

.main__buttom.main__buttom--light {
	background: transparent;
	color: var(--lightTextColor);
}

.main__buttom.main__buttom--light:hover {
	background: var(--highlight-color);
	color: var(--secondTextColor);
}
.main__buttom.main__buttom--fill:hover {
	background: transparent;
	color: var(--lightTextColor);
}
.main__cards {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	gap: 1em;
}
.card {
	width: 80%;
}
.card__content {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	background: var(--lightBg);
	box-shadow:
		6px 6px 5px #8e8d8d36,
		-6px -6px 5px #7e7e7e6a;
	min-height: 35vh;
	padding: 1em;
	border-radius: var(--border-radius);
	gap: 0.5em;
}
.card__bg {
	background: var(--highlight-color);
	width: 50%;
	height: 50%;
	text-align: center;
	border-radius: var(--border-radius);
	padding: 1em;
}
.card__icon {
	filter: invert(1);
}
.html {
	font-size: 16px;
}
